<a href="https://colab.research.google.com/github/shimulsarker10/Python/blob/main/PythonBasis/Day01_Variables_DataTypes_And_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>**Creating Variables**


---


* Python has no command for declaring a variable.
* A variable is created the moment you first assign a value to it.
* Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [1]:
# Example
x = 5
y = 'shimul'
print(x)
print(y)

5
shimul

In [2]:
x = 5
y = "shimul"
z = 5.35332
print(type(x))
print(type(y))
print(type(z))8

<class 'int'>
<class 'str'>
<class 'float'>

>**Casting**


---

 * If you want to specify the data type of a variable, this can be done with casting.

In [4]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

>**Variable Names**
---

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

****Rules for Python variables:****

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [5]:
myvar = "shimul"
my_var = "bandhan"
_my_var = "saikat"
myVar = "tanvir"
MYVAR = "anoy"
myvar2 = "alock"

>**Multi Words Variable Names**


---


* Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:



1.   Camel Case
2.   Pascal Case
3.   Snake Case

In [6]:
myVariableName = "Shimul"  # Camel Case
MyVariableName = "Shimul"  # Pascal Case
my_variable_name = "Shimul"  # Sanke Csae

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

Shimul
Shimul
Shimul